<% include partials/header %>
<style>
    .dev {
        font-size: 200%;
    }
    .work {
        font-size: 150%;
    }
</style>
<div id="doctors" class="section lb">
    <div class="container">
        <br>
        <div id="team" class="section wb">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Our Team</h3>
                    <p> We are a team of second year Comps Science Students from VJTI College.</p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="uploads/Aditya.jpeg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Aditya Patkar</h3>
                                <!-- <span class="post">Full Stack Developer</span> -->
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="uploads/Archeel.jpeg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Archeel Parekh</h3>
                                <!-- <span class="post">Full Stack Developer</span> -->
                                <ul class="social">
                                    <li><a href="" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="uploads/Hrim.jpeg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Hrim Gandhi</h3>
                                <!-- <span class="post">Full Stack Developer</span> -->
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="uploads/Siddharth.jpeg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Siddharth Nayak</h3>
                                <!-- <span class="post">Full Stack Developer</span> -->
                                <ul class="social">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>