<% include partials/header %>
<div id="meet"></div>
<script src='https://meet.jit.si/external_api.js'>
</script>
<script>
    const domain = 'meet.jit.si';
    const options = {
        roomName:"<%=id%>",
        width: "100%",
        height: 700,
        parentNode: document.querySelector('#meet')
    };
    const api = new JitsiMeetExternalAPI(domain, options);
</script>
<style>
    #meet {
        width:100%;
    }
</style>
<% include partials/footer %>
